---
import ProjectLayout from "../layouts/ProjectLayout.astro";
---

<ProjectLayout title="SONUS">
  <p>
    Sonus is a redesign of an abandoned area of the Legnano train station with the aim to connect people and spaces with the use of sound. This is a project done in collaboration with FS Sistemi Urbani and it was presented to the client and displayed in a temporary exposition at Scalo Lambrate.
  </p>

  <br>

  <p>
    Sonus is composed by four different installations. The first one aims to attract passersby from outside the railway station, it is a large red cone-shaped entrance. Thanks to its shape the installation can act as a simple entrance but also as a stage for events, conferences and concerts. The second acoustic cone is located in the internal car park, is placed at a height of 10 meters from the ground and if faces the historic center of Legnano. It allows both visual and sound connection with the surroundings.
  </p>

  <br>

  <p>
    The third installation is made by four long tubes that allows visitors to hear the vibrations of the railway in order to know when the train is arriving avoiding station's announcements and use the railway vibration to create a space that stimulates people's curiosity through sound. In order to create a form of communication also within the station, the fourth installation is one long acoustic tube that amplifies the sound and allow communication between the railway and the parking lot. This installation was designed in order to make goodbyes sweeter but even for people who don't know each other to have a chat before departure.
  </p>

  <br>

  <p>
    The Sonus project was presented with other projects on an exhibition on April 2022 at Scalo Lambrate in Milan. The exposition was open to the public and it was in collaboration with FS Sistemi Urbani, an organization that bring back to life abandoned train stations.
  </p>

  <script>
    // Set the images
    const mainImage = document.getElementById('main-image');
    const smallImage1 = document.getElementById('small-image-1');
    const smallImage2 = document.getElementById('small-image-2');
    
    if (mainImage) mainImage.src = '/images/sonus/Green.png';
    if (smallImage1) smallImage1.src = '/images/sonus/download.webp';
    if (smallImage2) smallImage2.src = '/images/sonus/download (1).webp';
  </script>
</ProjectLayout> 